/* TEMP */
body {
    padding: 2rem 5rem;
}
/* TEMP */

*,::after,::before {
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400|Roboto:400');

html {
    font-size: 100%;
} /*16px*/

/* Code Addict Added This Syling - See His HTML CSS Nuggetts - Default CSS Starter time mark 16:40 for where he begins to digin to the codeing changes. https://www.youtube.com/watch?v=UDdyGNlQK5w and john-smilga at  https://github.com/john-smilga/default-starter/blob/main/README.md*/
:root {
    /*colors*/
  --primary-500: #2660A4
  /* grey */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
}

/* fonts */
  --headingFont: 'Roboto', sans-serif;
  --bodyFont: 'Libre Franklin', sans-serif;
  --smallText: 0.7em;
/* rest of the vars */
}

body {
  background: white;
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
    margin-bottom: 1.5rem;
    max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  color: var(--red-dark);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text_small
{font-size: var(--smallText);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}